.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 768px) {
    position: absolute;
    flex-direction: row;
    gap: 0px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
}

.nav {
  display: flex;
  align-items: center;
}

.signUp {
  display: inline-flex;
  padding: 12px 24px;
  border-radius: 32px;
  background: #d1fae5;
  color: #047857;
  border: transparent;
  font-weight: 600;
  line-height: 22px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    margin-left: 56px;
  }
}
